* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

body > div {
    padding: 1em;
}

#body-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-container {
    display: flex;
    justify-content: center;
}

#calculator-box {
    display: flex;
    flex-direction: column;
    gap: 3em;
    border: 2px black solid;
    padding: 1em;
    border-radius:1em;
    width: 80%;
    max-width: 800px;
    height: 70%;
    background-color: rgb(220, 220, 220);
}

#calculator-box div {
    /* border: 1px lightgray solid; for debugging */
}

#display-area {
    display: flex;
    border: 1px black solid;
    gap: 1em;px;
    padding: 1em;
    background-color: white;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    font-size: 2em;
    border-right: 1px darkgray solid;
}

#calculator-text {
    display: flex;
    justify-content: space-between;
}

#ctLeft {
    display: flex;
    flex-direction: column;
}

#ctRight {
    display: flex;
}

#solarcell {
    display: flex;
    background-color: brown;
    width: 200px;
    border-left: 2px black solid;
    border-top: 2px black solid;
    border-right: 2px gray solid;
    border-bottom: 2px gray solid;
}

#solarcell > div {
    flex:1;
    border-right: 1px rgb(194, 86, 86) solid;
}

#solarcell > div:last-child {
    border-right: 0px;
}

#buttons-area {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    height: 100%;
}

#buttons-area > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons-area button {
    width: 100%;
    border-radius: 6px;
    font-size: 1.75em;
}

#digits div {
    display: flex;
    flex: 1;
    gap: 2%;
}

#digits {
    flex: 6;
    gap: 2%;
}

#operators,
#submitters {
    flex: 1;
    gap: 2%;
}

#operators > button {
    flex: 1;
    gap: 2%;
}

#operators button {
    background-color: navy;
    color: white;
}

#operators button:hover {
    transition-duration: 0.4s;
    background-color: dodgerblue;
}

#btnClear {
    flex: 1;
    background-color: rgb(255, 76, 76);
}

#btnEquals {
    flex: 3;
    background-color: rgb(158, 214, 75);
}

#digits button:hover {
    transition-duration: 0.4s;
    background-color: rgb(107, 107, 107);
    color: white;
}

#btnClear:hover {
    transition-duration: 0.4s;
    background-color: rgb(192, 55, 55);
    color: white
}

#btnEquals:hover {
    transition-duration: 0.4s;
    background-color:rgb(106, 143, 50);
    color: white;
}

#footer-container {
    background-color: dodgerblue;
    color: white;
}

#title {
    font-size: 2em;
    font-weight: 800;
}